<!DOCTYPE html>
<html>
<head>
<title>Change Password</title>
<style>
body{
    background:#020617;
    color:white;
    font-family:sans-serif;
    padding:20px;
}

form{
    max-width:400px;
    margin:auto;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:8px;
    border:none;
}

button{
    width:100%;
    padding:10px;
    background:#22c55e;
    border:none;
    border-radius:8px;
    color:white;
}
</style>
</head>

<body>

<h2>Change Password</h2>

<form method="POST">

<input type="password" name="old_password" placeholder="Old Password" required>
<input type="password" name="new_password" placeholder="New Password" required>

<button type="submit">Update Password</button>

</form>

</body>
</html>